/*GENERAL
=========
*/
body {
	background-color: white;
    margin-top: 5px;
    opacity: 1;
    transition: 1.0s opacity;
}

body.fade-in {
    opacity: 0;
    transition: none;
}

.parallax-window {
    min-height: 800px;
    background: transparent;
}

.container_pic1 {
    width: 100%;
    height: auto;
}

.paragraph-splitter {
    height: 30px;
    width: auto;
}

/* NAVIGATION
=============
*/

#navbarNav {
    padding-bottom: 15px;
}

.icon-link {
    width: 40px;
    height: 40px;
}

.icon-link:hover {
    transition: transform .5s;
    transform: scale(1.1);
}

.nav-top {
    padding-top: 15px;
    padding-bottom: 15px;
}

ul li.nav-item:hover {
    transition: transform .5s;
    transform: scale(1.1);
    font-weight: bold;
    cursor: pointer;
}

ul li.nav-item .active {
    font-weight: bold;
    color: #1d407a;
    transform: scale(1.1);
}

.language-container {
    display: flex;
/*    flex-direction: column;*/
    justify-content: center;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#7e8a9e' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #7e8a9e;
} 

@media only screen and (max-width: 1000px){
        .icon-link{
        height: 25px;
        width: 25px;
    }
        .name-banner *{
        font-size: 32px;
    }
        .language-container{
        height: 40px;
        width: 100px;
        position: absolute;
        top: 18px;
        right: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
        .media-links{
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

@media only screen and (max-width: 810px){

    .nav-top {
    padding-bottom: 0px;
    }

    .name-banner{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .name-banner *{
        font-size: 28px;
    }
}
    
@media only screen and (max-width: 450px){
    .name-banner *{
        font-size: 22px;
        margin-top: 20px;
    }
}

.language {
    margin-right: 0;
    color: #7e8a9e;
}

.nav-item {
    color: #7e8a9e;
}

ul {
    list-style: none;
}

/* TEXT STYLES
==============
*/
h1 {
	font-family: 'Playfair Display', sans-serif;
	color: #1d407a;
}

h2 {
	text-align: center;
    font-family: 'Playfair Display', sans-serif;
	color: #0f213f;
	text-shadow: 2px black;
}

h3 {
	text-align: center;
    font-family: 'Playfair Display', sans-serif;
	color: #0f213f;
	text-shadow: 2px black;
}

h4 {
    font-size: 20px;
    font-family: 'Playfair Display', sans-serif;
	color: #0f213f;
}

.press-text {
    font-size: 28px;
    text-align: center;
    font-style: italic;
    font-family: 'Playfair Display', sans-serif;
	color: #0f213f;
	text-shadow: 2px black;
}

@media only screen and (max-width: 1000px){
    h1 {font-size: 32px;}
    h2 {font-size: 28px;}
    h3 {font-size: 24px;}
    h4 {font-size: 18px;}
    .press-text {font-size: 24px;}
}
    
@media only screen and (max-width: 810px) {
    h1 {font-size: 28px;}
    h2 {font-size: 24px;}
    h3 {font-size: 18px;}
    h4 {font-size: 16px;}
    .press-text {font-size: 18px;}
}
    
    
@media only screen and (max-width: 450px) {
    h1 {font-size: 24px;}
    h2 {font-size: 18px;}
    h3 {font-size: 14px;}
}

.numbertext {
    font-size: 16px;
    color: #7e8a9e;
    text-align: center;
    margin-bottom: 5px;
}

.peri-text {
    color: #7e8a9e;
}

.navy-text {
    color: #1d407a;
    text-decoration: underline;
}

.peri-text:hover{
    color: #7e8a9e;
}
/* END TEXT STYLES
==================
*/

.btn-group:hover {
	cursor: pointer;
}

.center {
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* INDEX STYLES
=======================
*/

.gradient {
        background-image: linear-gradient(to bottom right, #7e8a9e, white, #7e8a9e);
}

.index-container {
    text-align: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

/* PHOTO GALLERY STYLES
=======================
*/

.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	margin: 25px auto;
/*	background-color: #d2d5db;*/
    background-image: linear-gradient(to bottom right, #7e8a9e, white, #7e8a9e)
}

.thumbnail-list {
    
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 1px;
	border: 1px solid #021a40;
	background-color: #010c21;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

.photo-credit {
    color: black;
    margin-top: 5%;
}

.photo-container {
	text-align: center;
	margin: 15px auto;
	width: 300px;
	height: 169px;
}

.photo-container img {
	max-width: 100%;
	width: auto;
	height: 169px;
}

.credit {
    position: relative;
    bottom: 16px;
    font-size: 14px;
    font-style: italic;
    font-family: 'Cormorant', sans-serif;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
}

/*-----
PHOTO TRANSITIONS
-------*/

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
	border-radius: 10px;
	cursor: pointer;
}

.photo-overlay:hover {
	opacity: .5;
}

.photo img {
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.photo:hover img {
	transform: scale(1.1);
    cursor: pointer;
}

/*
PHOTO GALLERY MODAL
*/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #010c21;
  background-image: linear-gradient(black, #010c21);
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  max-height: 900px;
}

.big-photo-container {
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
}

.big-photo {
    justify-content: center;
    width: 90%;
    object-fit: scale-down;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  z-index: 2;
  top: 3px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
    display: flex;
	flex-wrap: wrap;
	padding: 10px;
    margin: 0px auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  text-shadow: -1px 0 #7e8a9e, 0 1px #7e8a9e,
      1px 0 #7e8a9e, 0 -1px #7e8a9e;
  background-color: #010c21;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #1d407a;
}

/*
AUDIO STYLE
*/
.audio-container {
	text-align: center;
	margin: 15px auto;
}

/*
VIDEO STYLE
*/

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.video-container {
	text-align: center;
	margin: 15px auto;
}

.video-container iframe{
    width = 100%;
    height = 100%;
}

.video {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 1px;
	border: 1px solid #021a40;
	background-color: #000;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

/*
CONTACT STYLE
*/

.contact-container{
    height: 500px;
    border-style: solid;
    border-width: 1px;
}

.contactPic {
    width: 100%;
}

/*
FOOTER STYLE
*/

.social-footer {
  border-top: 1px solid #1d407a;
  background: #fff;
  padding: 4px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-elements {
    max-width: 600px;
}

.social-footer .icon-link {
    width: 25px;
    height: 25px;
}