/*GENERAL
=========
*/
body {
	background-color: white;
    margin-top: 10px;
    opacity: 1;
    transition: 1.0s opacity;
}

body.fade-in {
    opacity: 0;
    transition: none;
}

.parallax-window {
    min-height: 800px;
    background: transparent;
}

.container_pic1 {
    width: 100%;
    height: auto;
}

/* NAVIGATION
=============
*/

#navbarNav {
    padding-bottom: 30px;
}

.icon-link {
    width: 40px;
    height: 40px;
    opacity: .2;
}

.nav-top {
    padding-top: 30px;
    padding-bottom: 30px;
}

ul li.nav-item:hover {
    transition: transform .5s;
    transform: scale(1.1);
    font-weight: bold;
}

.language-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 1000px){
        .icon-link{
        height: 25px;
        width: 25px;
    }
        .name-banner *{
        font-size: 32px;
        /*between 991 and 999 the text goes to the left side*/
    }
        .language-container{
        height: 40px;
        width: 100px;
        position: absolute;
        top: 18px;
        right: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
        .media-links{
        position: absolute;
        top: 5px;
        left: 5px;
    }
}

@media only screen and (max-width: 810px){

    .nav-top {
    padding-bottom: 0px;
    }

    .name-banner{
        margin-top: 15px;
        margin-bottom: 0;
    }
    .name-banner *{
        font-size: 28px;
    }
}
    
@media only screen and (max-width: 450px){
    .name-banner *{
        font-size: 22px;
    }
}
.language {
    margin-right: 0;
}

.nav-item {
    color: blue;
}

ul {
    list-style: none;
}

/* TEXT STYLES
==============
*/
h1 {
	font-family: Georgia, sans-serif;
	font-style: italic;
	color: #4242f4;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
}

h2 {
	text-align: center;
    font-family: Georgia, sans-serif;
	color: #4242f4;
	text-shadow: 2px black;
}

h3 {
	text-align: center;
    font-family: Georgia, sans-serif;
	color: #4242f4;
	text-shadow: 2px black;
}

.press-text {
    font-size: 28px;
    text-align: center;
    font-family: Georgia, sans-serif;
	color: navy;
	text-shadow: 2px black;
}

.numbertext {
    font-size: 16px;
    color: #7e8a9e;
    text-align: center;
}
/* END TEXT STYLES
==================
*/

.btn-group:hover {
	cursor: pointer;
}

.center {
    text-align: center;
    justify-content: center;
    width: 100%;
}


/* PHOTO GALLERY STYLES
=======================
*/

.flex-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: rgba(100,65,0,0.3);
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

.thumbnail-list {
    
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	border-radius: 8px;
	padding: 1px;
	border: 1px solid #021a40;
	background-color: #000;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

.photo-credit {
    color: black;
    margin-top: 5%;
}

.photo-container {
	text-align: center;
	margin: 15px auto;
	width: 300px;
	height: 169px;
}

.photo-container img {
	max-width: 100%;
	width: auto;
	height: 169px;
}

.credit {
    position: relative;
    bottom: 24px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 4px black;
}

/*-----
PHOTO TRANSITIONS
-------*/

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
	border-radius: 10px;
	cursor: pointer;
}

.photo-overlay:hover {
	opacity: .5;
}

.photo img {
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.photo:hover img {
	transform: scale(1.1);
}

/*
PHOTO GALLERY MODAL
*/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  max-height: 900px;
}

.big-photo {
    max-width: 1000px;
    max-height: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
    display: flex;
	flex-wrap: wrap;
	padding: 20px;
    margin: 0px auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/*
VIDEO STYLE
*/

.video-container {
	text-align: center;
	margin: 15px auto;
    width: 450px;
    height: 290px;
}

.video-container iframe{
    width = 100%;
    height = 100%;
}

.video {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	border-radius: 8px;
	padding: 1px;
	border: 1px solid #021a40;
	background-color: #000;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}


/*
CONTACT STYLE
*/

.contact-container{
    height: 500px;
    border-style: solid;
    border-width: 1px;
}

/*
FOOTER STYLE
*/

.social-footer {
  border-top: 1px solid black;
  padding: 1rem;
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}